click==8.0.3
colorama==0.4.4
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
python-dotenv==0.19.2
Werkzeug==2.0.2
gunicorn==19.9.0
Flask-SQLAlchemy==2.5.1
google-auth
flask-cors
PyMySQL
google-cloud-storage
Flask-Login
boto3==1.17.87